enhancer.engines.entitylinking.labeltokenizer.languages=["zh"]
enhancer.engine.linking.labeltokenizer.lucene.charFilterFactory=""
enhancer.engine.linking.labeltokenizer.lucene.tokenizerFactory="org.apache.lucene.analysis.cn.smart.SmartChineseSentenceTokenizerFactory"
enhancer.engine.linking.labeltokenizer.lucene.tokenFilterFactory=["org.apache.lucene.analysis.cn.smart.SmartChineseWordTokenFilterFactory"]
service.ranking=I"100"
