Semantic-Index-Name="contenthubClerezzaSemanticIndex"
Semantic-Index-Description="Default\ instance\ for\ the\ ClerezzaSemanticIndex"
org.apache.stanbol.contenthub.index.AbstractLDPathSemanticIndex.ldPathProgram="@prefix\ dbp-ont:\ <http://dbpedia.org/ontology/>;\
@prefix\ dbp-prop:\ <http://dbpedia.org/property/>;\
@prefix\ foaf\ :\ <http://xmlns.com/foaf/0.1/>;\
\
persons\ \=\ .[rdf:type\ is\ dbp-ont:Person]\ ::\ xsd:anyURI\ (termVectors\=\"true\");\
persons_known_fors\ \=\ dbp-prop:knownFor\ |\ dbp-prop:knownFor/rdfs:label\ ::\ xsd:string;\
persons_birth_places\ \=\ dbp-ont:birthPlace/rdfs:label\ |\ dbp-prop:placeOfBirth/rdfs:label\ ::\ xsd:string;\
persons_work_instutions\ \=\ dbp-prop:workInstitutions/rdfs:label\ ::\ xsd:string;\
\
organizations\ \=\ .[rdf:type\ is\ dbp-ont:Organization]\ ::\ xsd:anyURI\ (termVectors\=\"true\");\
\
places\ \=\ .[rdf:type\ is\ dbp-ont:Place]\ ::\ xsd:anyURI\ (termVectors\=\"true\");\
place_countries\ \=\ dbp-ont:country/rdfs:label\ ::\ xsd:string;\
place_regions\ \=\ dbp-ont:region/rdfs:label\ |\ ^dbp-ont:region/rdfs:label\ |\ dbp-prop:region/rdfs:label\ |\ ^dbp-prop:region/rdfs:label::\ xsd:string;\
place_capitals\ \=\ dbp-ont:capital/rdfs:label\ ::\ xsd:string;\
place_governors\ \=\ dbp-prop:governer/rdfs:label\ ::\ xsd:string;\
place_largest_cities\ \=\ dbp-ont:largestCity/rdfs:label\ ::\ xsd:string;\
place_leaders\ \=\ dbp-prop:leaderName/rdfs:label\ |\ dbp-ont:leader/rdfs:label\ ::\ xsd:string;\
\
entity_given_names\ \=\ foaf:givenName\ ::\ xsd:string;\
entity_captions\ \=\ dbp-prop:caption\ ::\ xsd:string;"
org.apache.stanbol.contenthub.index.AbstractSemanticIndex.batchSize=I"10"
org.apache.stanbol.contenthub.index.AbstractSemanticIndex.indexingSourceName="contenthubFileStore"
org.apache.stanbol.contenthub.index.AbstractSemanticIndex.indexingSourceCheckPeriod=I"5"
service.ranking=I"0"