Semantic-Index-Name="contenthubEnhancementSemanticIndex"
Semantic-Index-Description="Default\ instance\ for\ the\ EnhancementSemanticIndex"
org.apache.stanbol.contenthub.index.AbstractSemanticIndex.batchSize=I"10"
org.apache.stanbol.contenthub.index.AbstractSemanticIndex.indexingSourceName="contenthubFileStore"
org.apache.stanbol.contenthub.index.AbstractSemanticIndex.indexingSourceCheckPeriod=I"5"
service.ranking=I"0"