/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

* {margin:0; padding:0;}

/******** General tags ********/
body {margin:25px auto; padding:0; font:76% Verdana,Tahoma,Arial,sans-serif; background:.1e3044; color:.303030; line-height:1.3em;}
a {text-decoration:none; color:.20526a; font-weight:bold;}
a:hover {text-decoration:underline; color:.20526a;}
a img {border:0;}
p {margin:0 0 18px 8px;}
h2 {font-size:1.5em; font-weight:normal; letter-spacing:-1px; margin:10px 0 8px 0;}
h3 {font-size:1.2em; margin:2px 0 8px 0;}

/******** Main wrap ********/
#wrap {background:.ffffff url(images/wrapbg.gif) top left repeat-y; color:.303030; margin:0 auto; width:760px;}

/******** Header ********/
.header {clear:both; background:url(images/header.jpg) top left no-repeat; height:150px;}
.header h1 {font-size:3.8em; letter-spacing:-4px; color:.d88d44; padding:55px 0 10px 45px;}
.header h1 a {color:.d88d44; text-decoration:none;}
.header h1 a:hover {color:.e99e55;}
.slogan {color:.20526a; margin:15px 0 0 45px; font-size:1.6em; letter-spacing:-1px;}

/******** Sitemenu, left sidebar ********/
.sitemenu {clear:both; float:left; width:135px; margin:0; padding:20px 0 0 15px;}
.sitemenu ul {list-style:none; width:135px; margin:0 0 20px 0; padding:0; font-size:1.2em; letter-spacing:-1px;}
.sitemenu li {margin-bottom:4px;}
.sitemenu li a {font-weight:bold; text-decoration:none; color:.20526a; display:block; height:1.1em; padding:2px 2px 2px 8px; border-left: 8px solid .70a2ba;}
.sitemenu li a:hover {color:.d88d44; text-decoration:none; border-left:8px solid .d88d44;}
.sitemenu .current {border-left:8px solid .d88d44;}
.sitemenu ul ul {font-size:0.8em; width:110px; font-weight:normal; margin:5px 0 8px 20px;}
.sitemenu ul ul li {margin-bottom:2px;}
.sitemenu ul ul li a {border:0; padding:2px;}
.sitemenu ul ul li a:hover {border:0; padding:2px; text-decoration:underline;}

/******** Extras, right sitebar ********/
.extras {float:right; width:135px; margin:0; padding:10px 15px 0 0;}
.extras ul {margin:0 0 14px 2px; list-style:none; color:.808080;}
.extras li {margin:0 0 2px 0;}
.extras li a {padding:2px 2px 2px 2px; height:1.2em; letter-spacing:-1px; font-weight:bold;}
.extras li a:hover {color:.d88d44;}
.extras ul ul, .extras ul ul ul {font-size:0.9em; line-height:1.2em; margin:2px 0 2px 15px;}
.extras ul ul a, .extras ul ul ul a {font-weight:normal;}

/******** Content variations ********/
.content {margin:5px 170px 0 170px; padding:2px 0 0 0; line-height:1.5em; text-align:left;}
.content h2 {font-size:1.6em; margin:20px 0 10px 0;}
.content h3 {font-size:1.4em; font-weight:normal; letter-spacing:-1px; margin:10px 0 8px 0;}
.content p {text-align:justify;}

/******** Footer ********/
.footer {clear:both; margin:5px auto 0 auto; padding:10px 0 10px 0; width:760px; text-align:center; background: url(images/footer.jpg) bottom left no-repeat; color:.555; font-size:0.9em; line-height:1.5em;}
.footer p {margin:3px;}
.footer p strong {font-size:1.1em; font-weight:400;}
.footer a {color:.777; font-weight:400; text-decoration:none;}
.footer a:hover {text-decoration:underline;}

/******** Various classes ********/
.datetag {width:50px; padding:0 0 10px 0; text-align:center; background:.20526a url(images/date-bottom.gif) bottom left no-repeat; margin:2px 15px 1px 10px; color:.ffffff; font-size:2.2em; text-align:center; float:left;}
.datetag .date {width:50px; display:block; letter-spacing:-1px; padding:15px 0 5px 0; background:.20526a url(images/date-top.gif) top left no-repeat;}
.datetag .month {font-size:0.5em; letter-spacing:-1px; width:50px; display:block; font-weight:bold;}
.textright {text-align:right;}
.center {text-align:center;}
.frontphoto {margin:20px 0 10px 0;}
.small {font-size:0.8em;}
.bold {font-weight:bold;}
.clear {clear:both;}
.hide {display:none;}