org.apache.stanbol.entityhub.yard.maxQueryResultNumber=I"-1"
org.apache.stanbol.entityhub.yard.solr.maxBooleanClauses=I"1024"
org.apache.stanbol.entityhub.yard.description="The\ Yard\ used\ by\ the\ Entityhub\ to\ store\ the\ data"
org.apache.stanbol.entityhub.yard.solr.solrUri="entityhub"
org.apache.stanbol.entityhub.yard.defaultQueryResultNumber=I"-1"
org.apache.stanbol.entityhub.yard.name="Entityhub\ Yard"
org.apache.stanbol.entityhub.yard.id="entityhubYard"
org.apache.stanbol.entityhub.yard.solr.multiYardIndexLayout="false"
org.apache.stanbol.entityhub.yard.solr.useDefaultConfig="true"
org.apache.stanbol.entityhub.yard.solr.configName="entityhub.solrindex.zip"
org.apache.stanbol.entityhub.yard.solr.immediateCommit="true"

