body {
  font: normal 13px/20px Arial,Helvetica,sans-serif;
  padding: 0;
  margin: 0;
  background-color: #eff9f0;
}

img {
  border: none;
}

a:link, a:visited, a:hover {
  color: #c43187;
}

a: active {
  color: black;  
}

a:focus {
  outline: none;
}

dt, dd {
  margin-top: 1em;
}

pre, textarea {
  border: 1px solid #f8dcbb;
  padding: 1em;
  background-color: #f8f8f8;
  font-size: 90%;  
  overflow: auto;
}

textarea {
  width: 100%;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */  
}

form  {
  margin-bottom: 2em;
}

.home {
  position: absolute;
}

.header {
  padding: 0.5em 1em;
  background: #4c4c4c url("../../../../static/images/header_bg.png") repeat-x top left;  
  border-bottom: 1px solid black;
}

.header h1 {
  float: left;
}

.header .mainNavigationMenu {
  margin: 23px 1em 0;
  text-align: right;
}

.header .mainNavigationMenu ul {
  display: inline;
}

.header .mainNavigationMenu li {
  display: inline;
  margin-left: 0.5em;
  border: 1px solid transparent;
  padding: 0.3em 0.5em 0.5em 0.5em;
  border-radius: 8px;
}

.header .mainNavigationMenu li.selected {
  border: 1px solid #222;
  background-color: #333;
}

.header .mainNavigationMenu a {
  font-weight: bold;
  color: #EFF9F0;
}


.restapitabs {
  text-align: right;
}

.restapitabs ul {
  display: inline;
}

.restapitabs li {
  display: inline;
  margin-left: 0.5em;
  border: 1px solid #transparent;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 8px;
}

.restapitabs a {
  text-decoration: none;
}

.restapitabs li.selected {
  font-weight: bold;
}

h1 {
  color: #e9e9e9;
  font-size: 18px;
  font-weight: normal;
  margin: 22px 0 3px;
  padding: 0 0 0 160px;
  text-shadow: 0 1px 0 #000;
}

h2 {
  padding: 0;
  margin: 1em 0;
  font-size: 16px;
}

h3 {
  padding: 0;
  margin: 1em 0;
  font-size: 14px;
  font-weight:bold;
}

.content {
  background-color: #fff;
  border-color: #d1dfce;
  border-style: solid;
  border-width: 0 1px 2px;
  margin: 0 auto 5em;
  padding: 0.5em 2em 1em;
  width: 75%;
}

.content img.preview {
  border: 1px solid gray;  
  max-width: 800px;  
}

.content fieldset {
  border-color: #d1dfce;
  border-style: solid;
  border-width: 1px;
}

.footer {
  background-color: #494949;
  border-top: 2px solid #373737;
  color: #d9d9d9;
  font-size: 85%;
  padding: 1em 1em 2em;
  text-shadow: 0 1px 0 #111111;
}

.footer .column {
  float: left;
  width: 48%;
  padding: 0.5em;
}

.column a img {
  border: 1px solid #373737;
}

.footer img.swcube {
  padding: 6px;
  background-color: white;  
}

.right {
  text-align: right;
} 

table {
  text-align: left;
  width: 100%;
}

.content h2 {
  float: left;  
}

.content input.url {
  width: 600px;
}

.content .contentItemPreview pre {
  max-height: 200px;  
}

.content table {
  font-size: 95%; 
}


.ontology { 
  border: 1px solid #eee;
  border-spacing : 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  padding-bottom:3px;
  padding-top:3px;
  padding-left:3px;
  padding-right:3px;
  
} 

.ontologyHeader{
  display: inline;
  background: url("../../static/images/foldable_unfolded.png") ;
  background-repeat: no-repeat;
  background-position : right;
  text-indent: 5%;
  border: 0;
  width: 10%;
  height: 16px;
  float: right;
  cursor: hand;
}

.collapsed .ontologyHeader{
  background: url("../../static/images/foldable_folded.png") ;
  background-repeat: no-repeat;
  background-position : right;
}


.imgOnt{
  display: inline;
  background: url(../../static/images/rdf_flyer_16.png) ;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.imgOntClass{
  display: inline;
  background: url(../../static/images/ont_class_16.png) ;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.imgOntDataProp{
  display: inline;
  background: url(../../static/images/ont_data_prop.png) ;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.imgOntObjectProp{
  display: inline;
  background: url(../../static/images/ont_obj_prop.png) ;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.imgOntInd{
  display: inline;
  background: url(../../static/images/ont_ind.png) ;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.ontology .collapsed .ontologyCollapsable{
  display: none
}

.rightFloat{
	float: right;
	align: right;
}

.ontology .ontologySubmitHeader{
  background: url(../../static/images/add_icon_16.png) , url("../../static/images/foldable_unfolded.png") ;
  background-repeat: no-repeat;
  background-position : 1%, right;
  text-indent: 4%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.ontology .collapsed .ontologySubmitHeader{
  background: url(../../static/images/add_icon_16.png) , url("../../static/images/foldable_folded.png") ;
  background-repeat: no-repeat;
  background-position : 1%, right;
  text-indent: 4%;
}

.delete{
   background: url(../../static/images/delete_icon_16.png) no-repeat center;
   border: 0;
   width: 36px;
   height: 16px;
   padding-left: 20px;
   cursor: hand;
}

.addHeader{
	background: url(../../static/images/add_icon_16.png);
	background-repeat: no-repeat;
	background-position : 1%;
	text-indent: 4%;
}

.invisible{
	display:none;
}

.horizontal{
	horizontal-align:left;
}

.inline{
  display: inline;
}

.margined{
	margin: 10px 0px 10px 0px;	
}

.show{
  padding: 4px 6px 5px;
  position: absolute;
  left: 50%;
}

.previousButton{
  border: 1px solid #c3c3c3;
  background-color: #fafafa;
  padding: 4px 6px 5px;
  align:left;
}
.nextButton{
  border: 1px solid #c3c3c3;
  background-color: #fafafa;
  padding: 4px 6px 5px;
  float: right;
  align: right;
}

.props th {  
  color: #000;
  font-size: 105%;
  font-weight: normal;
  padding: 6px 10px;
  border-bottom: 1px solid #d1dfce;
  background-color:#f8f8f8;
}

.formParams th{
  color: #000;
  font-size: 105%;
  font-weight: normal;
  padding: 6px 10px;
  border-bottom: 1px solid #d1dfce;
  background-color:#f8f8f8;
}

.props td {
  padding: 4px 10px 5px;
  border-bottom: 1px solid #ffe8f9;
}

.formParams td {
  padding: 4px 10px 5px;
  border-bottom: 1px solid #ffe8f9;
}

.bordered {
	padding-bottom: 4px;
	padding-right: 4px;
	border: 1px solid #d1dfce;
}

li {
	padding-bottom: 2px;
	padding-top: 2px;
}