stanbol.enhancer.engine.name="entityhubLinking"
org.apache.stanbol.enhancer.engines.entitytagging.nameField="name"
org.apache.stanbol.enhancer.engines.entitytagging.personType="Person"
org.apache.stanbol.enhancer.engines.entitytagging.personState=B"true"
org.apache.stanbol.enhancer.engines.entitytagging.referencedSiteId="local"
org.apache.stanbol.enhancer.engines.entitytagging.placeState=B"true"
org.apache.stanbol.enhancer.engines.entitytagging.organisationState=B"true"
org.apache.stanbol.enhancer.engines.entitytagging.organisationType="Organization"
org.apache.stanbol.enhancer.engines.entitytagging.placeType="Place"
