org.apache.stanbol.enhancer.engines.keywordextraction.processedLanguages=""
org.apache.stanbol.enhancer.engines.keywordextraction.maxSuggestions=I"10"
org.apache.stanbol.enhancer.engines.keywordextraction.nameField="rdfs:label"
service.ranking=I"0"
org.apache.stanbol.enhancer.engines.keywordextraction.minTokenMatchFactor=F"1060320051"
service.factoryPid="org.apache.stanbol.enhancer.engines.keywordextraction.engine.KeywordLinkingEngine"
org.apache.stanbol.enhancer.engines.keywordextraction.dereference=B"true"
org.apache.stanbol.enhancer.engines.keywordextraction.minSearchTokenLength=I"3"
org.apache.stanbol.enhancer.engines.keywordextraction.caseSensitive=B"false"
service.pid="org.apache.stanbol.enhancer.engines.keywordextraction.engine.KeywordLinkingEngine.c584e4ac-a51e-4d64-ac94-8b60e3bd39f0"
org.apache.stanbol.enhancer.engines.keywordextraction.typeMappings=[""]
org.apache.stanbol.enhancer.engines.keywordextraction.redirectMode="FOLLOW"
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.engine.keywordextraction-0.10.0-incubating-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.keywordextraction.typeField="rdf:type"
org.apache.stanbol.enhancer.engines.keywordextraction.referencedSiteId="dbpedia"
org.apache.stanbol.enhancer.engines.keywordextraction.redirectField="rdfs:seeAlso"
stanbol.enhancer.engine.name="dbpediaKeyword"
org.apache.stanbol.enhancer.engines.keywordextraction.defaultMatchingLanguage="en"
org.apache.stanbol.enhancer.engines.keywordextraction.keywordTokenizer=B"false"
org.apache.stanbol.enhancer.engines.keywordextraction.minFoundTokens=I"1"
