/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
li              { display: list-item }
ul {
    list-style-type: disc;
    list-style-position: inside;
}

label, input { display:block; float:left }
input.text { margin-bottom:12px; width:95%; padding: .4em; }

fieldset { padding:4px; margin-top:4px; border: 1px }

legend {
    padding: 0.2em 0.5em;
    font-size:90%;
    text-align:left;
    font-weight:bold
}

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.important {color:rgb(128,0,0);}

.hidden { display: none}

.delete-dialog {
    padding: 20px;
    font-weight:bold;
}

.inputPermission
{
    width: 30em;
}

/*
.labelCheckbox {
    display: block;
   
    padding: 0px;
    margin: 0px;
}

.labelCheckbox input
{
    width: 15px;
    height: 15px;
    float: left;
}

.labelCheckbox label
{
    float: left;
    padding-left: 3px;
}
*/

/*
.labelCheckbox input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}
.labelCheckbox label {
        display: block;
    padding-left: 15px;
    text-indent: -15px;
}
*/

/*
.labelTextbox {
    display: block;
   
    padding: 0px;
    margin: 0px;
}


.labelTextbox input
{
    width: 20em;

}

.labelTextbox label
{

}
*/
/* to include - popup stuff */
