org.apache.stanbol.enhancer.engines.keywordextraction.keywordTokenizer=B"false"
org.apache.stanbol.enhancer.engines.keywordextraction.redirectField="rdfs:seeAlso"
org.apache.stanbol.enhancer.engines.keywordextraction.caseSensitive=B"true"
service.ranking=I"0"
org.apache.stanbol.enhancer.engines.keywordextraction.processedLanguages=""
org.apache.stanbol.enhancer.engines.keywordextraction.dereference=B"true"
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.engine.keywordextraction-0.9.0-incubating-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.keywordextraction.nameField="rdfs:label"
service.factoryPid="org.apache.stanbol.enhancer.engines.keywordextraction.engine.KeywordLinkingEngine"
org.apache.stanbol.enhancer.engines.keywordextraction.maxSuggestions=I"3"
service.pid="org.apache.stanbol.enhancer.engines.keywordextraction.engine.KeywordLinkingEngine.1d1bffef-5ba5-48c9-9a24-1df7081ff569"
org.apache.stanbol.enhancer.engines.keywordextraction.minSearchTokenLength=I"3"
org.apache.stanbol.enhancer.engines.keywordextraction.minFoundTokens=I"3"
org.apache.stanbol.enhancer.engines.keywordextraction.redirectMode="IGNORE"
org.apache.stanbol.enhancer.engines.keywordextraction.typeMappings=["drugbank:drugs;\ dbp-ont:Drug;\ dailymed:drugs;\ sider:drugs;\ tcm:Medicine\ >\ drugbank:drugs","diseasome:diseases;\ linkedct:condition;\ tcm:Disease\ >\ diseasome:diseases","sider:side_effects","dailymed:ingredients","dailymed:organization\ >\ dbp-ont:Organisation"]
stanbol.enhancer.engine.name="ehealthExtraction"
org.apache.stanbol.enhancer.engines.keywordextraction.defaultMatchingLanguage=""
org.apache.stanbol.enhancer.engines.keywordextraction.referencedSiteId="ehealth"
org.apache.stanbol.enhancer.engines.keywordextraction.typeField="rdf:type"
