org.apache.stanbol.enhancer.engines.keywordextraction.keywordTokenizer=B"true"
org.apache.stanbol.enhancer.engines.keywordextraction.redirectField="rdfs:seeAlso"
org.apache.stanbol.enhancer.engines.keywordextraction.caseSensitive=B"true"
service.ranking=I"0"
org.apache.stanbol.enhancer.engines.keywordextraction.processedLanguages=""
org.apache.stanbol.enhancer.engines.keywordextraction.dereference=B"true"
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.engine.keywordextraction-0.9.0-incubating-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.keywordextraction.nameField="skos:notation"
service.factoryPid="org.apache.stanbol.enhancer.engines.keywordextraction.engine.KeywordLinkingEngine"
org.apache.stanbol.enhancer.engines.keywordextraction.maxSuggestions=I"3"
service.pid="org.apache.stanbol.enhancer.engines.keywordextraction.engine.KeywordLinkingEngine.6bb2851d-6402-48f3-9de0-a6e16fe2cbe3"
org.apache.stanbol.enhancer.engines.keywordextraction.minSearchTokenLength=I"3"
org.apache.stanbol.enhancer.engines.keywordextraction.redirectMode="IGNORE"
org.apache.stanbol.enhancer.engines.keywordextraction.typeMappings=["drugbank:drugs;\ dbp-ont:Drug;\ dailymed:drugs;\ sider:drugs;\ tcm:Medicine\ >\ drugbank:drugs"]
stanbol.enhancer.engine.name="drugIdExtraction"
org.apache.stanbol.enhancer.engines.keywordextraction.defaultMatchingLanguage=""
org.apache.stanbol.enhancer.engines.keywordextraction.referencedSiteId="ehealth"
org.apache.stanbol.enhancer.engines.keywordextraction.typeField="rdf:type"
