stanbol.enhancer.chain.weighted.chain=["tika;optional","langid","drugIdExtraction","ehealthExtraction"]
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.chain.weighted-0.9.0-incubating-SNAPSHOT.jar"
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.4f848c33-a358-4999-b941-1808b18ae60d"
service.ranking=I"0"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
stanbol.enhancer.chain.name="ehealth"
