.title-point div{
	margin-left: 20px;
	display: none; 
}

input.hide-button{
	display: none;
}

span.red{
	color: red;
}

p.active{
	display: block;
}

p.inactive{
	display: none;
}

div.arrows{
	text-align: center;
	display: block;
}