org.apache.stanbol.entityhub.site.entityPrefix=["http://dbpedia.org/resource/","http://dbpedia.org/ontology/"]
org.apache.stanbol.entityhub.site.defaultMappedEntityState="proposed"
org.apache.stanbol.entityhub.site.accessUri="http://dbpedia.org/sparql/"
org.apache.stanbol.entityhub.site.id="dbpedia"
org.apache.stanbol.entityhub.site.fieldMappings=["dbp-ont:*","dbp-ont:thumbnail\ |\ d\=xsd:anyURI\ >\ foaf:depiction","dbp-prop:latitude\ |\ d\=xsd:decimal\ >\ geo:lat","dbp-prop:longitude\ |\ d\=xsd:decimal\ >\ geo:long","dbp-prop:population\ |\ d\=xsd:integer","dbp-prop:website\ |\ d\=xsd:anyURI\ >\ foaf:homepage"]
org.apache.stanbol.entityhub.site.dereferencerType="org.apache.stanbol.entityhub.dereferencer.SparqlDereferencer"
org.apache.stanbol.entityhub.site.cacheStrategy="used"
org.apache.stanbol.entityhub.site.cacheId="dbpediaCache"
org.apache.stanbol.entityhub.site.name="DB\ Pedia"
org.apache.stanbol.entityhub.site.description="The\ OLD\ Endpoint\ for\ Wikipedia"
org.apache.stanbol.entityhub.site.queryUri="http://dbpedia.org/sparql"
org.apache.stanbol.entityhub.site.defaultSymbolState="proposed"
org.apache.stanbol.entityhub.site.defaultExpireDuration="0"
org.apache.stanbol.entityhub.site.searcherType="org.apache.stanbol.entityhub.searcher.VirtuosoSearcher"
