service.pid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.dbPediaLocalCacheYard"
org.apache.stanbol.entityhub.yard.maxQueryResultNumber=I"-1"
org.apache.stanbol.entityhub.yard.solr.maxBooleanClauses=I"1024"
org.apache.stanbol.entityhub.yard.description="The\ Cache\ used\ to\ store\ downloaded\ dbPedia\ entities"
org.apache.stanbol.entityhub.yard.solr.solrUri="cache"
org.apache.stanbol.entityhub.yard.defaultQueryResultNumber=I"-1"
org.apache.stanbol.entityhub.yard.name="dbPedia\ Cache"
org.apache.stanbol.entityhub.yard.id="dbPediaCache"
org.apache.stanbol.entityhub.yard.solr.multiYardIndexLayout="true"
