org.apache.stanbol.enhancer.engines.keywordextraction.processedLanguages=""
service.factoryPid="org.apache.stanbol.enhancer.engines.keywordextraction.engine.KeywordLinkingEngine"
service.pid="org.apache.stanbol.enhancer.engines.keywordextraction.engine.KeywordLinkingEngine.24dc4dc4-f7a3-480f-a5af-f31731f19fb6"
stanbol.enhancer.engine.name="entityhubExtraction"
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.engine.keywordextraction-0.9.0-incubating-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.keywordextraction.minSearchTokenLength=I"3"
service.ranking=I"0"
org.apache.stanbol.enhancer.engines.keywordextraction.maxSuggestions=I"3"
org.apache.stanbol.enhancer.engines.keywordextraction.dereference=B"true"
org.apache.stanbol.enhancer.engines.keywordextraction.typeField="rdf:type"
org.apache.stanbol.enhancer.engines.keywordextraction.nameField="rdfs:label"
org.apache.stanbol.enhancer.engines.keywordextraction.referencedSiteId="entityhub"
org.apache.stanbol.enhancer.engines.keywordextraction.redirectField="rdfs:seeAlso"
org.apache.stanbol.enhancer.engines.keywordextraction.defaultMatchingLanguage=""
org.apache.stanbol.enhancer.engines.keywordextraction.redirectMode="ADD_VALUES"
