# This configures the FreebasePropertyFilter

# It is used to filter the 1.240.000.000 triples in the dump
# to only import those that are actually used for the
# indexing

# filters are defined by prefixes and are applied based on their
# length. Meaning that the configuration:
#
# ns:test
# !ns:test.a
# ns:test.a.b
#
# will
#
# * include 'ns:test.a.b*'
# * exclude 'ns:test.a*' other than explicitly included
# * include 'ns:test*' other than explicitly excluded
#
# The ordering of those configuration is of no importance.

#other namespaces
rdfs:*
rdf:*
owl:*

#The domains we are interested in

#metadata
fb:type.object.mid
fb:type.object.timestamp

# keys used by other datasets for this entity
key:*
#ignore old freebase keys
!key:en
#ignore user keys
!key:user
#TODO: filter more unused keys

#Topic main data
fb:common.topic
!fb:common.topic.topic_equivalent_webpage

#Linguistic Hints
fb:freebase.linguistic_hint.plural
fb:freebase.linguistic_hint.adjectival_form
fb:freebase.linguistic_hint.subject_form
fb:freebase.linguistic_hint.disambiguating_text
fb:freebase.linguistic_hint.machine_generated_name

#Persons
fb:people.person.date_of_birth
fb:people.person.place_of_birth
fb:people.person.nationality
fb:people.person.gender
fb:people.person.profession
fb:people.person.height_meters
fb:people.person.places_lived
fb:people.deceased_person.date_of_death
fb:people.deceased_person.place_of_death
fb:people.deceased_person.place_of_burial

#Location
fb:location.location.geolocation
fb:location.location.containedby
fb:location.location.area
fb:location.administrative_division.country
fb:location.geocode

#other (properties I found interesting ^^)
fb:chemistry.chemical_compound.formula
fb:law.invention.inventor
fb:base.ontologies.ontology_instance.equivalent_instances
fb:biology.organism_classification.scientific_name
fb:biology.organism_classification.rank
fb:biology.organism_classification.higher_classification
fb:biology.organism_classification.organisms_of_this_type
