stanbol.enhancer.engine.name="dbpediaProperNounLinking"
service.ranking=I"0"
org.apache.stanbol.enhancer.engines.keywordextraction.referencedSiteId="dbpedia"
org.apache.stanbol.enhancer.engines.keywordextraction.typeField="rdf:type"
org.apache.stanbol.enhancer.engines.keywordextraction.nameField="rdfs:label"
org.apache.stanbol.enhancer.engines.keywordextraction.redirectField="rdfs:seeAlso"
org.apache.stanbol.enhancer.engines.keywordextraction.redirectMode="FOLLOW"
org.apache.stanbol.enhancer.engines.keywordextraction.caseSensitive=B"true"
org.apache.stanbol.enhancer.engines.keywordextraction.processedLanguages=["*;lmmtip;uc\=LINK","de;uc\=MATCH","es;lc\=Noun","nl;lc\=Noun"]
org.apache.stanbol.enhancer.engines.keywordextraction.dereference=B"true"
org.apache.stanbol.enhancer.engines.keywordextraction.minTokenMatchFactor=F"1062836634"
org.apache.stanbol.enhancer.engines.keywordextraction.properNounsState=B"true"
org.apache.stanbol.enhancer.engines.keywordextraction.maxSuggestions=I"3"
org.apache.stanbol.enhancer.engines.keywordextraction.minSearchTokenLength=I"3"
org.apache.stanbol.enhancer.engines.keywordextraction.typeMappings=[""]
org.apache.stanbol.enhancer.engines.keywordextraction.defaultMatchingLanguage="en"